* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;    text-align: center;
}

nav {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    justify-content: space-between;
    background: #fff;
    position: relative;
    z-index: 200;
    width: 100%;
    top: 0;
    height: 130px;
  }
  
nav .logo {
    margin-right: 50px;
}

nav img {
    height: 60px;
    margin: 30px;
}


nav ul {
    display: flex;
    list-style: none;
  }
nav li {
    margin-right: 40px;
  }
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
nav a:hover {
    color: black;
    text-decoration: underline;
  }

header img{
    width: 50%;
    height: auto;
}


main {
    margin: 20px;
    position: relative;
}

.menu {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f1f1f1;
}

.menu a{
    text-decoration: none;
}

.menu h2{
    text-align: right;
    font-size: 2rem;
    color: #000000;
}

.menu img{
    align-content: left;
    height: 250px;
    width: auto;
    border-radius: 50px;
}